.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    align-items: center;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
